<p *ngIf="!gameRatesOfCurrentPage"><em>Loading...</em></p>


<div class="flexContainer tableHeader">
  <div >
    <label *ngIf="releaserId && gameRatesOfCurrentPage" class="label">Games from {{gameRatesOfCurrentPage[0].releaser}}</label>
    <label *ngIf="!releaserId && !isMyRates" class="label">All games</label>
    <label *ngIf="isMyRates" class="label">My ratings</label>
   </div>
  <div class="buttonContainer">
    <button class="btn-success" *ngIf="isAuthenticated && (!isMyRates || releaserId)" [routerLink]="['/myratings']">My ratings</button>
    <button class="btn-success" *ngIf="isMyRates || releaserId" [routerLink]="['']"> All ratings </button>
  </div>
</div>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="gameRatesOfCurrentPage">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release date</th>
      <th *ngIf="!releaserId">Releaser</th>
      <th>Cover</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let gameRate of gameRatesOfCurrentPage">
      <td ><a [routerLink]="['/gamedetails', gameRate.gameId]">{{ gameRate.title }}</a></td>
      <td>{{ gameRate.releaseDate }}</td>
      <td *ngIf="!releaserId"><a [routerLink]="['/byreleaser', gameRate.releaserId]">{{ gameRate.releaser }}</a></td>
      <td><img style="height:150px; max-width:150px" [src]="gameRate.cover" /></td>
      <td><ngb-rating style="font-size:1em; " [rate]="gameRate.avgRating" [starTemplate]="t" max="10" [readonly]="!isAuthenticated" (rateChange)="saveUserRate(gameRate.gameId, $event)"> </ngb-rating></td>
    </tr>
  </tbody>
</table>
<div class=" flexContainer pagerContainer" ><ngb-pagination *ngIf="gameRatesOfCurrentPage" [collectionSize]="numberOfLoadedRates" [pageSize]="pageSize" (pageChange)="pageChange($event)" [boundaryLinks]="true"></ngb-pagination></div>

<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
  </span>
</ng-template>
