.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}

.full {
  color: green;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: green;
}

.label{
    font-weight: bold;
    font-size: 2em;
}
.tableHeader {
  width: 100%;
  display: flex;
  justify-content: space-between
}
