.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}

.full {
  color: green;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: green;
}

.label{
    font-weight: bold;
    font-size: 2em;
}
.flexContainer {
  width: 100%;
  display: flex;
}
.tableHeader {
  
  justify-content: space-between
}
.pagerContainer{
    justify-content:center;
}

.buttonContainer{
    display: flex;
    align-items: stretch;
}
