.label {
  display: inline;
  padding: .2em .3em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #777;
}



.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px
}

.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}

.full {
  color: green;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: green;
}
